<div class=" container-fluid  text-justify" > 
	<div class="header_01 border_bottom"> About us </div>
	<p> we are in helping hands </p>
	<p>
Shain events are here to provide world class services to your party needs. We can help in planning and organising your party. All that you may required for your party- Venue, Food, Theme, Invites, Decoration, Entertainment, Goodies, and everything else that you may think of will be handled by our expert team. You can have an unforgettable and a hassle free party by engaging us.
		</p>
		<p>
		We are a shine young company that is focused on growth through doing things differently. Since inception we have focused on delivering projects which are benchmarked by its quality.
		</p>
		<p>
     At shain events, your money is important to you and us. We ensure cost effective service, accountability and flexibility. Most of all, we treat your event like it is ours. Whatever your budget, we have solutions you will not find elsewhere.
     </p>
     </div>
     <div class="cleaner border_bottom"> </div>