<div class=" container-fluid  text-justify" > 
	<div class="header_01 border_bottom">
		Welcome To Shain Events

	</div>
	<div class="coming-soon" > 
	            <div class="inner-bg"> </div>                           
    </div>  
</div>
<script>
	$( ".toggle" ).bind( "click", function() {
		var tempId = $(this).attr('id');
		if($("#" + tempId + " span").attr('class') == 'glyphicon glyphicon-chevron-down') {
			$("#" + tempId + " span").attr('class',"glyphicon glyphicon-chevron-up");
		}
		else {
			$("#" + tempId + " span").attr('class',"glyphicon glyphicon-chevron-down");	
		}
  		$('#'+tempId + '-container').toggle();
	});
</script>
			


     

