<div class="container-fluid">
	<div class="row center padd20">
      	<div class="col-sm-3 padd20" style="background-color:lavenderblush;">
      		<a href="#/datastructurs/linkedlist">Linked List</a>
      	</div>
      	<div class="col-sm-3 padd20" style="background-color:lavender;">
      		Sorting
      	</div>
      	<div class="col-sm-3 padd20" style="background-color:lavenderblush;">
      		Searching
      	</div>
      	<div class="col-sm-3 padd20" style="background-color:lavender;">
      		Queue
      	</div>
	</div>
	<div class="row center padd20 ">
		<div class="col-sm-3 padd20" style="background-color:lavenderblush;">
			Tree
		</div>
		<div class="col-sm-3 padd20" style="background-color:lavender;">
			Graph
		</div>
	</div>  
</div>
<div class="padd20"> </div>
<div class="container-fluid">
	<div class="header_01 border_bottom"> Linked List </div>
	<div class="head">
			
				Q.1 Create a Linked list .
			
			</div>
<div ng-app=""
	<form name="reviewForm" >
		<blockquote>
			<b>Stars: {{review.stars}}</b>
			{{review.body}}
			<city>by: {{review.author}}</city>
			<p ng-bind="review.name"></p>
{{review.name}}
		</blockquote>
		<select ng-model="review.stars">
			<option value="1">1 star</option>
			<option value="2">2 stars</option>
		</select>
		<textarea ng-model="review.body"></textarea>
		<label>by:</label>
		<input ng-model="review.author" type="email"/>
		<input type="submit" value="submit"/>
		<p>Input something in the input box:</p>
<p>Name: <input type="text" ng-model="review.name" value="John"></p>

</form>
</div>
