<!DOCTYPE html>
<html>
<head>
	<title></title>
	{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>#}
	<script src="/bundles/nivasweb/js/jquery.min.js"></script>
	<script src="/bundles/nivasweb/js/angular.min.js"></script>
	<script src="/bundles/nivasweb/js/angular-route.min.js"></script>	
	<script src="/bundles/nivasweb/js/app/models/app.js"></script>
	<script src="/bundles/nivasweb/js/app/controllers/app.js"></script>
	<link rel="stylesheet" href="/bundles/nivasweb/css/nav.css"/>
	<link rel="stylesheet" href="/bundles/nivasweb/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bundles/nivasweb/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
	<nav class="navbar navbar-default" >
	  	<div class="container-fluide">
		    <div class="navbar-header col-lg-5 col-md-3 col-sm-1">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand logo pull-left" href="#">deviab</a>
	    	</div>
		    <div class="container-fluid pull-right collapse navbar-collapse col-lg-7 col-md-9 col-sm-11" id="bs-example-navbar-collapse-1 navbar-right">
		      	<ul class="nav navbar-nav ">
			        <li><a href="">Home <span class="sr-only">(current)</span></a></li>
			        <li class="dropdown">
			          <a id="aa" href="#box1">About</span></a>
			        </li>
			        <li><a href="#box2">Solutions</a></li>
			         <li><a href="#box3">Careers</a></li>
		      	</ul>
		      	<ul class="nav navbar-nav ">
			        <li><a href="#">Sign In</a></li>
			        <li><a href="#">Join Us</a></li>
			    </ul>
		    <form class="navbar-form navbar-right "  role="search">
		        <div class="form-group ">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>			        	
	      	</form>
		    </div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="coming-soon" > 
	            <div class="inner-bg"> </div>                           
    </div>
	<div id="main-container">
		<div ng-view> </div>
	</div>
	<script src="/bundles/nivasweb/js/jquery.backstretch.min.js"></script>
<script>	
jQuery(document).ready(function() {

    /*
        Background slideshow
    */
    $('.coming-soon').backstretch([
      "/bundles/nivasweb/images/backgrounds/1a.jpg"
    , "/bundles/nivasweb/images/backgrounds/2.jpg"
    , "/bundles/nivasweb/images/backgrounds/2a.jpg"
    ], {duration: 3000, fade: 750});

    /*
        Tooltips
    
    $('.social a.facebook').tooltip();
    $('.social a.twitter').tooltip();
    $('.social a.dribbble').tooltip();
    $('.social a.googleplus').tooltip();
    $('.social a.pinterest').tooltip();
    $('.social a.flickr').tooltip();
    */

    
});
</script>

</body>
</html>

		