{% extends '::base.html.twig' %}

{% block body -%}
    <h1>homeRegis list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Type</th>
                <th>Street</th>
                <th>City</th>
                <th>Distict</th>
                <th>Restriction</th>
                <th>Furnished</th>
                <th>Imgurl</th>
                <th>Other</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('homeregis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.distict }}</td>
                <td>{{ entity.restriction }}</td>
                <td>{{ entity.furnished }}</td>
                <td>{{ entity.imgUrl }}</td>
                <td>{{ entity.other }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('homeregis_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('homeregis_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('homeregis_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
