{% extends '::base.html.twig' %}

{% block body -%}
    <h1>homeRegis</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ entity.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Distict</th>
                <td>{{ entity.distict }}</td>
            </tr>
            <tr>
                <th>Restriction</th>
                <td>{{ entity.restriction }}</td>
            </tr>
            <tr>
                <th>Furnished</th>
                <td>{{ entity.furnished }}</td>
            </tr>
            <tr>
                <th>Imgurl</th>
                <td>{{ entity.imgUrl }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ entity.other }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('homeregis') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('homeregis_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
