img {
    max-width: 100%;
    width: auto 9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    padding: 1px;
    border: 2px solid #F0f0f0 !important; 
}
#main-container {
	background: url(background-img.jpg);
}